<%-include('header')-%>

<div class="text-center center-div" id="login">
    <div class="container border w-25 p-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">
                LOGIN SYSTEM
            </h2>
            <span>Login for the existing user</span>
        </div>
        <form action="/route/login" method="POST" class="p-3">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="email" name="email">
                <small class="form-text text-muted text-left">Register email address</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

<%-include('footer')-%>